
@model IEnumerable<CrudNativo.Models.Producto>//Vista para mostrar la lista de productos
<div>
    <h2>Lista de Productos</h2>
    <a class="btn btn-success d-block" asp-action="Create" asp-controller="Producto">Agregar</a>
</div>
<div class="row">
    <table>
        <thead>
            <tr>
                <td @Html.DisplayNameFor(p => p.Id)></td>
                <td @Html.DisplayNameFor(p => p.Nombre)></td>
                <td @Html.DisplayNameFor(p => p.Precio)></td>
                <td @Html.DisplayNameFor(p => p.Stock)></td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Precio</td>
                    <td>@item.Stock</td>
                    <td> 
                        <a class="btn btn-primary" asp-action="Edit" asp-controller="Producto" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Producto" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>