@model IEnumerable<SistemaEscolar.Models.Matricula>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de las matriculas.</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCursoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudianteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCursoNavigation.IdCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudianteNavigation.IdEstudiante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMatricula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMatricula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMatricula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
